<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       
        <services>
            <service name="WCFServer.frmServer">
                <endpoint address="net.pipe://localhost/WCFServer" binding="netNamedPipeBinding" contract="WCFServer.IWCFServerService">
                </endpoint>
            </service>
        </services>
    </system.serviceModel>
</configuration>
